__pycache__/
*.bat
*.bin
*.zip
Redirection_Patch/
MovesInGame/
*_array.json
*_table.json
*_0.trsog
*_1.trsog
flatc/*.bat
json_output
*.trpfd
output/
data.json
Randomizer/Starters/pokemon_clean
Randomizer/Starters/output
.idea
randomizer-patched/
randomizer-patched-shiny/
randomizer-shiny/
.DS_store